{% extends "padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    <h1>Este es el título del Inicio que cambio</h1>    
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <h3>Podes buscar un Accesorio:</h3>
    <form>
        <input type="text" name="nombre" id="nombre">
        <input type="submit" value="Buscar">
    <!-- </form>
    {% if cursos %}
    <p>Estamos buscando el: {{camada}}</p>
    <ul>
    {% for curso in cursos %}
        <li> {{curso.nombre}} </li>
        <li> {{curso.camada}} </li>
    {% endfor %}
    </ul>
    {% endif %} -->
{% endblock %}