{% extends "padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista 🙂 -->
    <h1>Bienvenido!</h1>
    <h3>Busca tu accesorio aca:</h3>
    <form action="/MyApp/buscar/" method="GET">
        <input type="text" name="nombre" id="producto">
        <input type="submit" value="Buscar">
    </form>
    {% if productos %}
    <p>Resultado de la busqueda:</p>
    <ul>
    {% for producto in productos %}
        <li> {{producto.nombre}} </li>
        <li> {{producto.modelo}} </li>
        <li> {{producto.marca}} </li>
    {% endfor %}
    </ul>
    {% endif %}
{% endblock %}