<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% for p in compradores %}

        <li>{{p}}</li>  
        <button>
            <a href="{% url 'EliminarComprador' p.nombre %}"> Eliminar</a>
            <a href="{% url 'EditarComprador' p.nombre %}"> Editar</a>
        </button>

    {% endfor %}

    <br>
    <a href="compradores">Agregar otro Comprador</a>

</body>
</html>
